.fm .fm-navbar .btn {
  color: #ffffff !important;
}
.fm .fm-navbar .text-right .btn-group:last-child {
  display: none;
}
.fm .fm-content-body {
  max-height: 300px;
}

.tox-notification--warning {
  display: none !important;
}

.v-input--switch .v-label {
  margin-bottom: 0 !important;
}
